/*font styles import*/

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');


html {
    box-sizing: border-box;
    flex-shrink: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Arimo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

h1 {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    opacity: 0;
}

a {

    text-decoration: none;
    color: black;
}

/*HEADER STYLING STARTS HERE*/

.header-wrapper {
    min-width: 320px;
    max-width: 1920px;
    height: 100%;
    margin: 0 auto;
    background-color: #DDDDDD;
}

.header-wrapper__top-line {
    width: 100%;
    height: 12px;
    background-color: #20588C;
}

.nav {
    display: none;
}

.header-container {
    max-width: 1800px;
    height: 215px;
    margin: 0 60px 0 60px;
    display: flex;
    flex-wrap: wrap;
}

.header-container__logo-contacts-wrapper {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    height: 155px;
}

.header-container__main-logo object {
    height: 155px;
    width: 800px;
}

.header-container__contacts-container {
    height: 155px;
    width: 745px;
    margin: 0 0 0 55px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header-container__links {
    width: 100%;
    max-height: 28px;
}

.header-container__links a {
    font-size: 26px;
    font-weight: bold;
    text-decoration: underline;
}

.header-container__links ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.header-container__phone {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-container__phone h3 {
    font-size: 36px;
}

.header-container__phone h6 {
    font-size: 20px;
    text-align: end;
}

.header-container__phone-wrapper {
    height: 70px;
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

#call-back-btn {
    background-color: #20588C;
    width: 310px;
    height: 66px;
    color: #cccccc;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}

.header-container__logo-description-container {
    height: 35px;
}

.header-container__logo-description-container h2 {
    font-size: 30px;
}

@media screen and (max-width: 1645px) {

    .header-container {
        height: 150px;
    }

    .header-container__logo-contacts-wrapper {
        height: 105px;
    }

    .header-container__contacts-container {
        height: 115px;
    }

    .header-container__phone {
        margin-top: 25px;
    }

    .header-container__main-logo object {
        height: 100%;
        width: 500px;
    }

    .header-container__links a {
        font-size: 20px;
        font-weight: bold;
        text-decoration: underline;
    }

    .header-container__phone h3 {
        font-size: 28px;
    }

    .header-container__phone h6 {
        font-size: 16px;
        text-align: end;
    }

    .header-container__logo-description-container h2 {
        height: 100%;
    }

    .header-container__logo-description-container h2 {
        font-size: 22px;
    }

    #call-back-btn {
        width: 260px;
        height: 55px;
        font-size: 20px;
    }
}

@media screen and (max-width: 1370px) {

    .header-container {
        height: 120px;
        margin: 0 20px 0 20px;
    }

    .header-container__logo-contacts-wrapper {
        height: 85px;
    }

    .header-container__contacts-container {
        margin-left: 25px;
        /*max-width: 460px;*/
        height: 95px;
    }

    .header-container__logo-description-container {
        height: 22px;
    }


    .header-container__main-logo object {
        height: 100%;
        width: 385px;
    }

    .header-container__links a {
        font-size: 16px;
        font-weight: bold;
        text-decoration: underline;
    }

    .header-container__phone {
        max-width: 745px;
        justify-content: flex-end;
    }


    .header-container__phone h3 {
        font-size: 22px;
    }

    .header-container__phone h6 {
        font-size: 12px;
        text-align: end;
    }

    .header-container__phone-wrapper {
        height: 40px;
        width: 210px;
    }

    .header-container__phone-wrapper img {
        height: 20px;
        width: 20px;
    }

    .header-container__logo-description-container h2 {
        font-size: 16px;
    }

    #call-back-btn {
        width: 200px;
        height: 42px;
        font-size: 14px;
    }
}

@media screen and (max-width: 870px) {

    .header-container {
        height: 90px;
        margin: 0 20px 0 20px;
    }

    .header-wrapper__top-line {
        height: 6px;
    }

    .header-container__logo-contacts-wrapper {
        height: 65px;
    }

    .header-container__contacts-container {
        margin-left: 15px;
        /*max-width: 460px;*/
        height: 75px;
    }

    .header-container__logo-description-container {
        height: 12px;
    }


    .header-container__main-logo object {
        height: 100%;
        width: 275px;
    }

    .header-container__links a {
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }

    .header-container__phone {
        margin-top: 10px;
        max-width: 745px;
        justify-content: flex-end;
    }


    .header-container__phone h3 {
        font-size: 16px;
    }

    .header-container__phone h6 {
        font-size: 10px;
        text-align: end;
    }

    .header-container__phone-wrapper {
        height: 40px;
        width: 210px;
    }

    .header-container__phone-wrapper img {
        height: 15px;
        width: 15px;
    }

    .header-container__logo-description-container h2 {
        font-size: 12px;
    }

    #call-back-btn {
        width: 166px;
        height: 35px;
        font-size: 12px;
    }

}

@media screen and (max-width: 720px) {

    .nav {
        display: initial;
    }

    .header-container {
        height: 70px;
        margin: 0 10px 0 10px;
    }

    .header-container__main-logo object {
        height: 100%;
        width: 200px;
    }

    .header-container__logo-contacts-wrapper {
        margin-top: 0;
        height: 70px;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: space-between;
    }

    .header-container__contacts-container {
        margin-top: 0;
        height: 16px;
        max-width: 155px;
    }

    .header-container__phone-wrapper {
        margin-top: 0;
        height: 16px;
        max-width: 155px;
    }

    .header-container__phone {
        margin-top: 0;
        height: 16px;
        width: 155px;
    }


    .header-container__links {
        display: none;
    }

    .header-container__phone h6 {
        display: none;
    }

    .header-container__logo-description-container h2 {
        display: none;
    }

    #call-back-btn {
        display: none;
    }

}

@media screen and (max-width: 450px) {
    .header-container__phone {
        display: none;
    }
}